# My Jupyter Notebook on IBM Watson Studio

**Name: Kavya Shanker** <br> Currently a student. Hoping to work with technology and thoughtleaders towards making a difference.

_I am interested in Data Science because I find the idea of discovering trends in the data we have amassed fascinating. The possibilities of these discoveries promise to tell us more about our world than we could imagine._

### The code in cell 5 prints the sum of 3 and 4.

In [4]:
print( "The sum of 3 and 4 is = ", end = "")
print(3+4)

The sum of 3 and 4 is = 7

This is line 1.There is horizontal rule after line 1.
<hr>
<br>
Here's a list of words for you:
<ul>
    <li> Word No.1 
    <li> Word No.2 
    <li> Word No.3 
    <li> Word No.4                
<ul>
<br>
Now, I am inserting a table:
    <table>
  <tr>
    <th>Doughnut</th>
    <th>Like/Dislike</th>
  </tr>
  <tr>
    <td>Plain glazed</td>
    <td>Like</td>
  </tr>
 <tr>
    <td>Jam filled</td>
    <td>Dislike (Sorry)</td>
  </tr>
 <tr>
    <td>Chocolate</td>
    <td>Like</td>
 </tr>
</table>